<ion-header>
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem
      omnis voluptates libero culpa, illo eveniet. Voluptatibus alias facilis,
      sunt molestias voluptas illo nihil mollitia quae quod, eveniet eius
      excepturi.
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cancel()" expand="block" color="medium">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
