<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="md">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>{{user.correo}}</ion-card-subtitle>
      <ion-card-title>Bienvenido {{user.nombre}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-list>
    <ion-item (click)="ruta()">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>
        <h2>Datos de la cuenta</h2>
        <p>Actualizar nombre, email, contraseña</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="confirmExit()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
