<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/central/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos De La Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-icon slot="start" name="at-circle"></ion-icon>
    <ion-label>
      <p>Correo electrónico vinculado</p>
      <h2>{{user.correo}}</h2>
    </ion-label>
  </ion-item>
  
  <ion-item (click)="updateName()">
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>Cambiar nombre de usuario</ion-label>
  </ion-item>

  <ion-item (click)="updatepassModal()">
    <ion-icon slot="start" name="shield"></ion-icon>
    <ion-label>Actualizar contraseña</ion-label>
  </ion-item>

  <ion-item (click)="deleteModal()">
    <ion-icon slot="start" name="trash" color="danger"></ion-icon>
    <ion-label color="danger">Eliminar cuenta</ion-label>
  </ion-item>

</ion-content>
