<ion-header class="ion-no-border">
  <ion-toolbar color="orange">
    <ion-title class="PanettoneDEMO">Tojito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="purple" routerLink="/busqueda">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let item of dataneg" mode="md">
    <ion-card-header [routerLink]="['/detalles/', item.id]">
      <ion-img src="{{item.img}}" alt="..."></ion-img>
      <ion-card-subtitle>{{item.desc}}</ion-card-subtitle>
      <ion-card-title>{{item.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="location"></ion-icon>
          <ion-label>{{item.calle}}, {{item.municipio}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="time"></ion-icon>
          <ion-label>{{item.horario}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
